@model IEnumerable<SuggestionBox.Models.SuggestionModel>

@{
    ViewBag.Title = "Index";
}

<h2>Suggestion Box</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-4" id="title">
                @Html.DisplayNameFor(model => model.Topic)
            </div>
            <div class="col-lg-4">
                @Html.DisplayFor(modelItem => item.Topic)
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.RecordNum }) |
                @Html.ActionLink("Details", "Details", new { id = item.RecordNum }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RecordNum })
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4" id="title">
                @Html.DisplayNameFor(model => model.Suggestion)
            </div>
            <div class="col-lg-4">
                @Html.DisplayFor(modelItem => item.Suggestion)
            </div>
        </div>
        <br />
    }

</div>
